@model EntityLayer.Concrete.AppUser

<li class="nav-item nav-profile dropdown">
    <a class="nav-link" id="profileDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
        <div class="nav-profile-img">
            <img src="~/WriterImageFiles/@Model.ImageUrl" alt="image">
            <span class="availability-status online"></span>
        </div>
        <div class="nav-profile-text">
            <p class="mb-1 text-black">@Model.NameSurname</p>
        </div>
    </a>

</li>