@using EntityLayer.Concrete
@model List<Message2>

@{
    if (Model.Count() == 0)
    {


        <a class="nav-link count-indicator dropdown-toggle" id="messageDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
            <i class="mdi mdi-email-outline"></i>
        </a>
    }
    else
    {
        <a class="nav-link count-indicator dropdown-toggle" id="messageDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
            <i class="mdi mdi-email-outline"></i>
            <span class="count-symbol bg-warning"></span>
        </a>
    }
}


<div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="messageDropdown">
    <h6 class="p-3 mb-0">Mesajlar</h6>
    @foreach (var item in Model)
    {


        @if (item.MessageStatus)
        {
            <div class="dropdown-divider"></div>
            <a class="dropdown-item preview-item" href="/Message/MessageDetails/@item.MessageId">
                <div class="preview-thumbnail">
                    <img src="~/WriterImageFiles/@item.SenderUser.WriterImage" alt="image" class="profile-pic">
                </div>
                <div class="preview-item-content d-flex align-items-start flex-column justify-content-center">
                    <h6 class="preview-subject ellipsis mb-1 font-weight-normal">@item.SenderUser.WriterName Sana Mesaj Gönderdi</h6>
                    <p class="text-gray mb-0"> @item.MessageDate.ToShortDateString() </p>
                </div>
            </a>
        }


    }



    <h6 class="p-3 mb-0 text-center">@Model.Count() yeni mesaj</h6>
</div>
